{% extends "@tch/components/component/component.html.twig" %}

{% set component_name = "Accordion" %}

{% block inner_content %}
  {% if "multiselectable" in modifiers %}
    <ul class="Accordion__controls" aria-label="Accordion controls">
      <li>
        {{ include("@tch/components/button/button.html.twig", {
          label: "expand all",
          modifiers: ["ghost", "round", "small"],
          custom_classes: ["Accordion__control"],
          custom_attributes: {
            "data-component-part": "expand-all",
          },
        }) }}
      </li>
      <li>
        {{ include("@tch/components/button/button.html.twig", {
          label: "collapse all",
          modifiers: ["ghost", "round", "small"],
          custom_classes: ["Accordion__control"],
          custom_attributes: {
            "data-component-part": "collapse-all",
          },
        }) }}
      </li>
    </ul>
  {% endif %}

  {% for section in sections %}
    {% set section_id = section.heading|clean_id %}

    {% if id %}
      {% set section_id = section_id ~ "-" ~ id %}
    {% endif %}

    <section class="Accordion__section">
      {% if heading_level %} <h{{ heading_level }} class="Accordion__heading"> {% endif %}
        <button data-component-part="panel-toggle" class="Accordion__button" id="{{ section_id }}-button" aria-controls="{{ section_id }}-panel">
          {{ section.heading|raw }}

          {{ include("@tch/components/icon/icon.html.twig", {
            icon: "chevron-down",
            custom_classes: ["Accordion__icon"],
          }) }}
        </button>
      {% if heading_level %} </h{{ heading_level }}> {% endif %}

      <div data-component-part="panel" class="Accordion__panel" id="{{ section_id }}-panel" aria-labelledby="{{ section_id }}-button">
        <div class="Accordion__content">
          {{ section.content ? section.content|raw }}
          {% if block(section.block) is defined %}
            {{ block(section.block) }}
          {% endif %}
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}