<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ meta_title ? "#{meta_title} - " }}Texas Children's Design System</title>
  <meta name="description" content="{{ description }}">

  <link href="/styles/main.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">

  <link href="/favicon.png" rel="shortcut icon" type="image/png">
  <meta name="theme-color" content="#da2530">

  <script>
    if(window.MSInputMethodContext && document.documentMode) {
      document.write(
        "<link href='/styles/ie/tcds.ie.css' rel='stylesheet'>"
        + "<script src='https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js'><\x2fscript>"
      );

      if("NodeList" in window && !NodeList.prototype.forEach) {
        NodeList.prototype.forEach = function(callback, thisArg) {
          thisArg = thisArg || window;

          for(var i = 0; i < this.length; i++) {
            callback.call(thisArg, this[i], i, this);
          }
        }
      }
    }
  </script>

  {% block head %}{% endblock %}
</head>
<body class="page-{{ title|clean_class }} category-{{ category|clean_class }} line-numbers preload">
  {{ include("@tch/partials/site-header.twig") }}

  <main>
    <header class="page-masthead">
      {% if category and title != "Overview" and display_title != category %}
        <p class="page-category">{{ category }}</p>
      {% endif %}

      {% if display_title == "" %}
        <h1 class="visually-hidden">{{ title }}</h1>
      {% else %}
        <h1>{{ display_title }}</h1>
      {% endif %}

      {% if block("lead") %}
        <p class="lead">
          {% block lead %}{% endblock %}
        </p>
      {% endif %}
    </header>

    <section class="page-article">
      {% block body %}{% endblock %}
    </section>

    <aside class="page-inner-sidebar">
      <nav class="TOC" aria-labelledby="toc-label">
        <h2 id="toc-label" class="TOC__label" data-toc-exclude>
          {{ include("@tcds/components/icon/icon.html.twig", { icon: "list" }) }}
          On this page
        </h2>
      </nav>
    </aside>
  </main>

<script>
if(window.MSInputMethodContext && document.documentMode) {
  document.querySelectorAll("tcds-button").forEach(function(tcdsButton) {
    if(tcdsButton.hasAttribute("link")) {
      var a = document.createElement("a");
      a.setAttribute("data-tcds-button", "");
      a.setAttribute("href", tcdsButton.getAttribute("link"));
      a.innerHTML = tcdsButton.innerHTML;
      tcdsButton.parentNode.replaceChild(a, tcdsButton);
    } else {
      var button = document.createElement("button");
      button.setAttribute("data-tcds-button", "");
      button.setAttribute("type", tcdsButton.getAttribute("type") || "button");
      button.innerHTML = tcdsButton.innerHTML;
      tcdsButton.parentNode.replaceChild(button, tcdsButton);
    }
  });
}
</script>
<script async src="/scripts/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>