<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ meta_title ? "#{meta_title} - " }}Texas Children's Design System</title>
  <meta name="description" content="{{ description }}">

  <link href="/dist/tcds/tcds.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">

  {% block head %}{% endblock %}
</head>
<body class="page-{{ title|clean_class }} category-{{ category|clean_class }} line-numbers">
  {{ include("@tch/partials/header.twig") }}
  {{ include("@tch/partials/side-nav.twig") }}

  <main>
    {% block body %}{% endblock %}
  </main>

<script async src="/dist/tcds/tcds.js"></script>
<script async src="/scripts/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>