<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ meta_title ? "#{meta_title} - " }}Texas Children's Design System</title>
  <meta name="description" content="{{ description }}">

  <link rel="stylesheet" href="/styles/tcds.css" title="tcds-base">
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">

  <link href="/favicon.png" rel="shortcut icon" type="image/png">
  <meta name="theme-color" content="#da2530">

  <script>
    if(window.MSInputMethodContext && document.documentMode) {
      document.write(
        "<link href='/styles/ie/tcds.ie.css' rel='stylesheet'>"
        + "<script src='https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js'><\x2fscript>"
      );

      if("NodeList" in window && !NodeList.prototype.forEach) {
        NodeList.prototype.forEach = function(callback, thisArg) {
          thisArg = thisArg || window;

          for(var i = 0; i < this.length; i++) {
            callback.call(thisArg, this[i], i, this);
          }
        }
      }
    }
  </script>

  {% block head %}{% endblock %}
</head>
<body class="page-{{ title|clean_class }} category-{{ category|clean_class }} line-numbers">
  <div class="site-layout">
    {{ include("@tch/partials/site-header.twig") }}

    <div class="page-content">
      <header class="page-masthead">
        {% if category and title != "Overview" and display_title != category %}
          <p class="page-category">{{ category }}</p>
        {% endif %}

        {% if display_title == "" %}
          <h1 class="visually-hidden">{{ title }}</h1>
        {% else %}
          <h1>{{ display_title }}</h1>
        {% endif %}

        {% if block("lede") %}
          <p class="lede">
            {% block lede %}{% endblock %}
          </p>
        {% endif %}
      </header>

      <main class>
        {% block body %}{% endblock %}

        <footer class="prev-next">
          {% if previous_page.title %}
            <a href="{{ previous_page.route }}" class="prev-next__prev">
              <tcds-icon icon="arrow-left"></tcds-icon>
              <small>{{ previous_page.category }}</small>
              <b>{{ previous_page.title }}</b>
            </a>
          {% endif %}

          {% if next_page.title %}
            <a href="{{ next_page.route }}" class="prev-next__next">
              <tcds-icon icon="arrow-right"></tcds-icon>
              <small>{{ next_page.category }}</small>
              <b>{{ next_page.title }}</b>
            </a>
          {% endif %}
        </footer>
      </main>

      <aside class="page-inner-sidebar">
        <tcds-toc></tcds-toc>
      </aside>
    </div>

    <footer class="site-footer">
      &copy; Texas Children's {{ "now"|date("Y") }}
    </footer>
  </div>

<script>
if(window.MSInputMethodContext && document.documentMode) {
  document.querySelectorAll("tcds-button").forEach(function(tcdsButton) {
    if(tcdsButton.hasAttribute("link")) {
      var a = document.createElement("a");
      a.setAttribute("data-tcds-button", "");
      a.setAttribute("href", tcdsButton.getAttribute("link"));
      a.innerHTML = tcdsButton.innerHTML;
      tcdsButton.parentNode.replaceChild(a, tcdsButton);
    } else {
      var button = document.createElement("button");
      button.setAttribute("data-tcds-button", "");
      button.setAttribute("type", tcdsButton.getAttribute("type") || "button");
      button.innerHTML = tcdsButton.innerHTML;
      tcdsButton.parentNode.replaceChild(button, tcdsButton);
    }
  });
}
</script>
<script async src="/scripts/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>