<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ meta_title ? "#{meta_title} - " }}Texas Children's Design System</title>
  <meta name="description" content="{{ description }}">

  <link rel="stylesheet" href="/styles/tcds.css" title="tcds">
  <link rel="stylesheet" href="/styles/site.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">

  <link href="/favicon.png" rel="shortcut icon" type="image/png">
  <meta name="theme-color" content="#da2530">

  {% block head %}{% endblock %}
</head>
<body class="page-{{ title|clean_class }} category-{{ category|clean_class }} line-numbers">
  {{ include("@tc/partials/site-header.twig") }}

  <section class="tcds-section tcds-section--raised tcds-section--masthead bg-secondary" data-theme="auto">
    <h1 class="accent--inline-start">
      {% if display_title == "" %}
        <span class="visually-hidden">{{ title }}</span>
      {% else %}
        {% if category and title != "Overview" and display_title != category %}
          <small>{{ category }}</small>
        {% endif %}
        {{ display_title }}
      {% endif %}
    </h1>
    {% if description %}
      <p>
        {{ description }}
      </p>
    {% endif %}
  </section>

  <div class="max-width page-content">
    {{ include("@tc/partials/side-menu.twig") }}

    <main>
      {% block body %}{% endblock %}
    </main>
  </div>

  {{ include("@tc/partials/site-footer.twig") }}

<script async src="/scripts/site.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>