{% extends "templates/components/component/component.html.twig" %}

{% set component_name = "Carousel" %}

{% set required_props = [slides] %}

{% set root_element = "div" %}

{% block root_attributes %}
  {# Sets the amount of time (milliseconds) between slide changes #}
  data-timing="{{ timing ?: "2000" }}"
  data-autoplay="{{ autoplay ?: "true" }}"
{% endblock %}

{% block inner_content %}
  <div role="tablist" aria-label="{{ heading ?: "Carousel" }}" class="Carousel__indicators">
    {% set slide_ids = [] %}

    {% for index, slide in slides %}
      {% set slide_id = "slide-#{index}" %}
    
      {% if id %}
        {% set slide_id = slide_id ~ "-" ~ id  %}
      {% endif %}

      {% set slide_ids = slide_ids|merge([slide_id]) %}

      <button
        role="tab"
        id="{{ slide_id }}-button"
        aria-controls="{{ slide_id }}-content"
        class="Carousel__indicator"
      >
        Slide {{ index + 1 }} of {{ slides|length }}
      </button>
    {% endfor %}
  </div>

  <div data-component-part="tabpanels" class="Carousel__slides">
    {% for index, slide in slides %}
      <div
        role="tabpanel"
        id="{{ slide_ids[index] }}-content"
        aria-labelledby="{{ slide_ids[index] }}-button"
        class="Carousel__slide"
      >
        {{ slide.content ? slide.content|raw }}

        {% if block(slide.block) is defined %}
          {{ block(slide.block) }}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <ul class="Carousel__controls" aria-label="Carousel controls">
    <li class="Carousel__control">
      <button class="Carousel__action" data-action="play-pause">Play/Pause</button>
    </li>
    <li class="Carousel__control">
      <button class="Carousel__action" data-action="previous">Previous</button>
    </li>
    <li class="Carousel__control">
      <button class="Carousel__action" data-action="next">Next</button>
    </li>
  </ul>
{% endblock %}