<nav id="main-nav" class="main-nav" aria-label="Main navigation">
  <ul class="main-nav__list">
    {% for top_level_category in content %}
      {% set category_route = top_level_category.route ?: top_level_category.title|clean_class %}

      <li class="main-nav__item">
        <span class="main-nav__category">{{ top_level_category.menu_title ?: top_level_category.title }}</span>

        <ul class="main-nav__list">
          {% for page in top_level_category.pages %}
            {% set page_route = page.route ?: "/" ~ category_route ~ "/" ~ page.title|clean_class %}
            <li class="main-nav__item {{ page_route == route ? "active" }}">
              <a
                class="main-nav__link {{ page.disabled ? 'disabled' }}"
                {% if page.disabled %}
                  title="Coming soon"
                {% else %}
                  href="{{ page_route }}"
                {% endif %}
                {{ page_route == route ? 'aria-current="page"' }}
              >{{ page.menu_title ?: page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>