{% set section = [] %}

{% for _category in content %}
  {% if category == _category.title %}
    {% set section = _category %}
  {% endif %}
{% endfor %}

{% if section.pages|length > 1 %}
  <nav class="tcds-submenu tcds-side-menu">
    <details>
      <summary>
        {{ category }}
      </summary>
      <ul role="list">
        {% for page in section.pages %}
          <li>
            {% if page.published != false %}
              <a href="{{ page.route }}" {{ page.route == route ? 'class="active"' }}>
                {{ page.menu_title }}
              </a>
            {% else %}
              <span>{{ page.menu_title }}</span>
            {% endif %}

            {% if page.pages %}
              <ul role="list">
                {% for page in page.pages %}
                  <li>
                    {% if page.published != false %}
                      <a href="{{ page.route }}" {{ page.route == route ? 'class="active"' }}>
                        {{ page.menu_title }}
                      </a>
                    {% else %}
                      <span>{{ page.menu_title }}</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>
  </nav>
{% endif %}