<table class="table api">
  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Description</th>
      <th>Required?</th>
    </tr>
  </thead>
  <tbody>
    {% for prop in properties %}
      <tr id="{{ prop.name|clean_id }}-property">
        <td><code>{{ prop.name }}</code></td>
        <td><code>{{ prop.type }}</code></td>
        <td>{{ prop.description|raw }}</td>
        <td>{{ prop.required }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>