<section class="example" role="doc-example">
  <div class="example__result" {{ full_screen ? 'style="overflow: auto hidden"' }}>
    {% if full_screen %} <div style="width: 100vw; max-width: 1200px"> {% endif %}
      {% block result %}
        {% block content %}{% endblock %}
      {% endblock %}
    {% if full_screen %} </div> {% endif %}
  </div>
  <div class="example__code">
    <details {{ open ? "open" }}>
      <summary>View code</summary>
      <div>
        <pre class="line-numbers language-{{ language ? language|clean_class : "html" }}" {{ line_highlight ? "data-line=#{line_highlight}" }}><code class="language-{{ language ? language|clean_class : "html" }}">{{ block("code") is defined ? block("code")|escape : block("content")|escape }}</code></pre>
      </div>
    </details>
  </div>
</section>